table{
    border-spacing: 2px; /* Define o espaçamento entre as células da tabela */
    border: 1px solid black; /* Adiciona uma borda à tabela */
    background-color: black // Define a cor de fundo da tabela
};

tr{
    border: 1px solid black; /* Adiciona uma borda às linhas da tabela */
   
}
th[colspan] {
    background-color: rgb(243,213,124);/* Define a cor de fundo para células com colspan */
    
}
th {
    background-color: #97CBFA; // Define a cor de fundo para células de cabeçalho
    border: 1px solid black; // Adiciona uma borda às células de cabeçalho
}
td {
    background-color: #E8E8E8; // Define a cor de fundo para células de dados
    border: 1px solid black; // Adiciona uma borda às células de dados
}
td[colspan] {
    background-color: rgb(146, 145, 144); // Define a cor de fundo para células com colspan
    border: 1px solid black;// Adiciona uma borda às células com colspan
    font-size: 13px;// Define o tamanho da fonte para células com colspan
    grid-template-columns: 400px;// Define a largura da célula com colspan
}